<div class="homepage_cover">

  <div id= "myCarousel" class= "carousel">

    <ol class= "carousel-indicators">
      <li data-target="#myCarousel"data-slide-to="0"></li>
      <li data-target="#myCarousel"data-slide-to="1"></li>
      <li data-target="#myCarousel"data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="item active">
        
        <img src="img/homepage1.jpg" alt= "change text"class= "img-responsive">
        
        <img src="img/homepage2.jpg" alt= "change text"class= "img-responsive">
        
        <img src="img/homepage3.jpg" alt= "change text"class= "img-responsive">
      </div>
    </div>

  </div>

  <h1>Fitness App</h1>
  <p>some kind of health message here</p>

</div>