<div class="homepage_cover">

  <div id= "myCarousel" class= "carousel slide">

    <div class="carousel-inner">

      <div class="item active">
        <%= image_tag("outdoor1.jpg", class: "img-responsive") %>
        <div class = "carousel-caption">
          <h3>Fitness App</h3>
          <p>Find <ins>Instructors</ins> and classes near you.</p>
        </div>
      </div>
        
        
        <div class="item">
        <%= image_tag("classadultyoga1.jpg", class: "img-responsive") %>
        <div class = "carousel-caption">
          <h3>Group Classes</h3>
          <p>Book a <ins>private or group class</ins>, meet other health concious individuals.</p>
        </div>
      </div>
        
        
        <div class="item">
        <%= image_tag("Instructor1.jpg", class: "img-responsive") %>
        <div class = "carousel-caption">
          <h3>Personal Instructor</h3>
          <p>Work out with a <ins>fitness instructors</ins> near you.</p>
        </div>
      </div>
    </div>
    <ol class= "carousel-indicators">
      <li data-target="#myCarousel"data-slide-to="0" class= "active"></li>
      <li data-target="#myCarousel"data-slide-to="1"></li>
      <li data-target="#myCarousel"data-slide-to="2"></li>
    </ol>
  </div>
  <a class= "carousel-control left" href = "myCarousel" data-slide = "prev">
    <span class = "icon-prev"></span>

    <a class= "carousel-control right" href = "myCarousel" data-slide = "next">
      <span class = "icon-next"></span>
  </a>
</div>