<%= form_tag lessons_path, method: :get, id: :search_form, remote: :true do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Duration</th>
      <th>Instructor</th>
    </tr>
  </thead>


  <tbody id='lessons_list'>
    <%= render @lessons %>
  </tbody>
</table>
