/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

<<<<<<< HEAD
 .avatar{
  width: 200px;
  height: 200px;
  padding: 10px;
  border: 2px solid orange;
  border-radius: 10px;
 }

 .vote{
  font-size: 5em;
  color: orange;
 }

=======
 /*********************************************************/
 /*                     VARIABLES                         */
 /*********************************************************/
>>>>>>> 7da095090a0a9692a30a2c7978a76169b64843a7

 /* ORANGE: #FF9800 */
 /* font-family: 'Open Sans', sans-serif; */

 body {
  background-color: #fff;
  color: #333;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/*********************************************************/
/*                     FONTS                             */
/*********************************************************/

h1 {
  font-size: 50px;
  color: #00ff00;
}

h2{
  color:#FF9800;
  font-size: 30px;
  font-family:'Andada', serif;
  font-weight: bold;
  text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 1px black;
}

h3{
  color:#000000;
  font-family: 'Andada', serif;
  font-size: 20px;
  /*text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 1px black;*/
  
}


h4{
  color:#FF9800;
  font-family: 'Andada', serif;
  font-size: 20px;
  text-shadow: -1px 0 black, 0 -1px black, 1px 0 black, 0 -1px black;
}

h5{
  color:#000000;
  font-family: 'Andada', serif;
  font-size: 30px;

}

/*********************************************************/
/*                     NAVBAR                            */
/*********************************************************/

.navbar {
  margin-bottom: 0;
  border: 0;
  color: white;
}

.navbar-brand {
  font-weight: 700;
  padding: 0;
  text-shadow: 0 0 10px rgba(255,255,255,1), 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff;
}

.navbar-default .navbar-brand{
  color: #FF9800;
  font-size: 30px; 
}

.navbar-brand img{
  height: 50px;
  display: inline-block;
}

.nav_button{
 color: white;
 line-height: 0;
}

.navbar-default{
 background: #000000;
}

nav.navbar .navbar-collapse .nav > li > a {
  color: #FFF;
}

nav.navbar .navbar-collapse .nav > li > a:hover {
  background: #FF9800;
  color: black;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}

@media screen and (max-width:767px) {

  .navHeaderCollapse {
   clear: both;
 }

}

@media screen and (min-width:767px) {

  .navHeaderCollapse {
   clear: none !important;
 }
 .profile_left{
  margin-left: 150px;
  float: left;
  width: 40%;
 }
 .profile_right {
  float: right;
  width: 40%;
 }

}


/*********************************************************/
/*                     ALERTS                            */
/*********************************************************/

.alert {
  margin-bottom: 0;
  text-align: center;
  border-radius: 0;
}

.alert-success {
  background-color: #FF9800;
  border-color: #FF9800;
  color: black;
}

/*********************************************************/


.dashboard_left{
  float: left;
  width: 50%;
}
.dashboard_right {
  float: right;
  width: 50%;
}

.dashboard_container{
  max-width: 65%;
  margin: 0 auto;
}

.dashboard_lessons_container{
  float: right;
  border: solid 5px orange;
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
  width: 90%;
}
.dashboard_upcoming_bookings_container{
  float: left;
  border: solid 5px orange;
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
  width: 90%;
}


/*********************************************************/
/*                     BOOKING FORM                            */
/*********************************************************/


.bookings_container{
  /*float: left;*/
  /*border: solid 5px orange;*/
  border-radius: 20px;
  padding: 20px;
  margin: 15px;
}

.booking_form{

  display: none;
}
#add_lesson_form{
  display: none;
}

header {
 background: #DF6C07;
}

.btn {
  border-radius: 0px;
  outline-color: #FF9800;
  background-color: #000000;
  border-color:#FF9800;
}



b{
  color:#FFFFFF;
}

.col-sm-9{
  text-align: right;
  font-size: 20px;
}
.my-message{
  position: inherit;
}


footer {
  text-align: center;

}
table {
  margin: 0 auto;
  width: 60%;
}
.heading_container {
  text-align: center;
}
#search_form {
  text-align: center;
}
tr {
  height: 50px;
  padding: 20px;
}
td {
  margin: 10px;
}

.container h2{
  text-align: center;
}
#conversation_form {
  text-align: center;
  margin: 0 auto;
}

.conversation_container{
  width: 500px;
  margin: 0 auto;
}
.conversations_container{
text-align: center;
}
.conversation_container h3{
  text-align: center;
}
.conversations_page_container{
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
.conversations_page_container h3{
  text-align: center;
}

