/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .booking_form{
  display: none;
}
#add_lesson_form{
  display: none;
}
body{
  font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}
header {
 background: #DF6C07;
}

.navbar-default{
  background: #DF6C07;

}

.col-sm-9{
  text-align: right;
  font-size: 20px;
}

h2,
h3{
  color:#000000;
  font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}
nav a{
}
footer {
  text-align: center;

}