@media screen and (max-width:960px) {
  
  header ul {
    width: 100%;
  }

  header ul li a {
   /* display: block;*/
    background: #FFF;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }

  header ul li:first-child {
    border-top: 5px solid #fff45a;
  } 

  header ul li:last-child {
    border-bottom: none;
  } 

  header ul li a {
    color: #000;
  }

}


@media screen and (min-width:961px) {
  li {
    display: inline-block;
  }
}