/*.homepage_cover {
  background-image: url("homepage1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 300px;
}*/

/*body{
  padding-top: 150px;
}*/

h1{
  font-size: 50px;
  color: #00ff00;

}

h2{
  color:#FFAB00;
  font-size: 40px;
  font-family:'Andada', serif;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 -1px black, 1px 0 black, 0 -1px black;
}

h4{
  color:#FFAB00;
  font-family: 'Andada', serif;
  font-size: 20px;
  text-shadow: -1px 0 black, 0 -1px black, 1px 0 black, 0 -1px black;
}
li{
  display: inline-block;
}

#myCarousel{
/*  top: 100px;*/
}